---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";

const pageTitle = "My Astro Site";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>
  <Greeting messages={["Hi", "Hello", "Howdy", "Hey There"]}/>
  <Greeting client:load messages={["Hi", "Hello", "Howdy", "Hey There"]}/>
</BaseLayout>